<p>Xin chào
  <span
    style='font-weight: bold; text-transform: uppercase;'
  >{{name}}</span></p>
<p>Chúng mình thấy bạn đang yêu cầu lấy lại mật khẩu với các thông tin như sau:</p>
<ul>
  <li>Tên đăng nhập: <span style='font-weight: bold;'>{{username}}</span></li>
  <li>Địa chỉ email: <span style='font-weight: bold;'>{{email}}</span></li>
  <li>Số điện thoại: <span style='font-weight: bold;'>{{phone}}</span></li>
</ul>
<p>Để lấy lại mật khẩu, bạn vui lòng nhấn vào nút bên dưới:</p>
<p style='text-align: center;'>
  <a
    target='_blank'
    href='{{resetPasswordUrl}}'
    style='
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin: 4px 2px;
      cursor: pointer;
    '
  >Lấy lại mật khẩu</a>
</p>
<br />
<p>Lưu ý: Link chỉ có hạn sử dụng trong vòng 30 phút kể từ khi bạn yêu cầu lấy
  lại mật khẩu.</p>